button1{
    padding: 10px 1px; /* Some padding */
    width: 20%; /* Set a width if needed */
    display: block;
   }

button2{
    padding: 10px 1px; /* Some padding */
    width:20%; /* Set a width if needed */
    display: block;
   }