h3 {
    border-top: 1px solid lightgrey;
    margin-top: 10px;
}

p {
    text-align: justify;
    text-indent: 3em;
}

article section img {
    margin-left: 40px;
}

img.left {
    margin-right: 7px;
}

img.right {
    margin-left: 7px;
}

/***********************************************
HTML dokumentą papildyti klasėmis
***********************************************/

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}
